$global-padding: 8rem;
$bars-color: #f0f2f7;
$nav-elements-color: #343e5c;
$unselected-items: #b9bed1;
$filter-title-color: #a1a8bd;
$carousel-background: #1c1e23;
$arrow-color: rgba(255, 255, 255, 0.5);
$buy-btn-background: #2754eb;
$arrow-border: rgba(255, 255, 255, 0.3);
$delimiter-color: rgba(0, 0, 0, 0.2);
$website-body-background: #e4e5e7;
$containers-background: white;
$select-hover: rgba(0, 0, 0, 0.05);
$select-options-background: #35495e;
$input-background: #f0f2f7;
$filter-content-color: #343e5c;
