$global-padding: 8rem;
$bars-color: #f0f2f7;
$nav-elements-color: #343e5c;
$unselected-items: #b9bed1;
$filter-title-color: #a1a8bd;
$carousel-background: #1c1e23;
$arrow-color: rgba(255, 255, 255, 0.5);
$buy-btn-background: #2754eb;
